[submodule "dashrpc/btcsuite/btcd"]
	path = dashrpc/btcsuite/btcd
	url = https://github.com/btcsuite/btcd.git
[submodule "dashrpc/btcsuite/btclog"]
	path = dashrpc/btcsuite/btclog
	url = https://github.com/btcsuite/btclog.git
[submodule "dashrpc/btcsuite/btcutil"]
	path = dashrpc/btcsuite/btcutil
	url = https://github.com/btcsuite/btcutil.git
