.shorten {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* me-3 */
.itemContainer > * {
    margin-inline-end: 12px;
}

.kbb {
    border: 2px solid #696969;
    border-radius: 0.25rem;
    box-shadow: inset 0 -1px 0 0 #696969;
    font-size: .825rem;
    padding: .25rem;
}