.bg-svg {
  position: absolute;
}

@for $i from 1 through 40 {
  .bg-svg:nth-child(#{$i}) {
    $left: random(100)*1%;
    bottom: 3% + $i*1%;
    left: $left;
    animation: raise#{$i} 10 + random(35) + s linear infinite;
    //animation-delay: random(5) - 5 + s;
    $scaled: random(10)*-0.1+1;
    transform: scale($scaled) rotate(random(360) + deg);
    z-index: 0;
    //filter: blur(5px);

    @keyframes raise#{$i} {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      to {
        bottom: 100vh;
        left: $left + random(25)*1% - random(25)*1%;
        transform: scale($scaled) rotate(random(360) + deg);
      }
    }
  }
}
